@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Trainee Management App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome Techies</h2>
        <p>
            Trainee Management App is a user friendly and responsive application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enrollment</h2>
        <p>You can enroll the our ongoing training programme</p>
        <p><a class="btn btn-default" href="/">Enroll &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/techflow21/TraineeMgtApp">See project source code &raquo;</a></p>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Need to learn more about building robust Web apps with Authorization and user roles with ASP.NET Core.</p>
</div>
